#set($projectVersion = $PROJECT_VERSION)
#if($projectVersion.split("\.").size() < 3)
#set($projectVersion = $projectVersion + ".0")
#end
{
  "name": "${PROJECT_NAME.replaceAll(" ", "")}",
  "version": "${projectVersion}",
  "description": "${PROJECT_NAME}",
  "author": "Romuald Tuffreau https://github.com/romwaldtff, Imad El Hitti https://github.com/imadhy",
  "license": "LGPL-3.0",
  "dependencies": {
    "body-parser": "*",
    "ejs": "*",
    "express": "*",
    "sqlite": "*",
    "bluebird": "*"
  }
}