#---------------------------------------------------------
# Templates configuration file
# Values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------
# Since v 2.0 the project's variables can be used in file and folder name
#---------------------------------------------------------

#-- Server application configuration --
Server Configuration         ; server.js                ;                       ; server_js.vm                     ; 1

#-- Dependencies (package.json) --
Dependencies (package.json)  ; TEMPLATE_package.json    ;                       ; package_json.vm                  ; 1

#-- Database tables creation --
Database tables creation     ; dbCreateTables.js        ; app/config            ; app/config/dbCreateTables_js.vm  ; 1

#-- Controllers --
Common controllers functions ; controllerCommon.js      ; app/controller/common ; app/controller/common/controllerCommon_js.vm ; 1
Entity Controller            ; ${BEANNAME}Controller.js ; app/controller        ; app/controller/XxxController_js.vm           ; *

#-- Data access objects --
DAO common functions         ; genericDao.js            ; app/dao/commons       ; app/dao/commons/genericDao_js.vm  ; 1
Entity DAO                   ; ${BEANNAME}Dao.js        ; app/dao               ; app/dao/XxxDao_js.vm              ; *

#-- Entity Models --
Entity model                 ; ${BEANNAME}.js           ; app/model             ; app/model/Xxx_js.vm               ; *

#-- Routes --
Server router                ; router.js                ; app/routes            ; app/routes/router_js.vm           ; 1
Count routes                 ; CountRoutes.js           ; app/routes/api        ; app/routes/api/CountRoutes_js.vm      ; 1
Entity routes                ; ${BEANNAME}Routes.js     ; app/routes/api        ; app/routes/api/XxxRoutes_js.vm    ; *
